
<% term = show_one %>
<% if @show_params.size > 1 %>
<table class="term_items">
<% for prm in @show_params %>
<% unless term.value(prm).blank? %><tr><th><%=h label_param(prm) %>:</th><td><%= term.value(prm) %></td></tr><% end %>
<% end %>
</table>
<% end %>
<% unless (term.description.empty?) %>
<% if @show_params.size > 1 %><strong><%= l(:field_description) %></strong>:<% end %>
<div class="wiki">
<%= textilizable term, :description, :attachments => term.attachments %>
</div>

<% if term.attachments.any? %>
    <%= (@is_index) ? "" : '<hr />' %>
    <%= link_to_attachments term %>
<% end %>
<% end %>

